@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebar-item {
    @apply p-0
}

.sidebar-link {
    @apply flex h-full w-full gap-2 px-6 py-4 hover:bg-slate-600/40 hover:cursor-pointer my-auto
}

.background {
    @apply bg-gradient-to-br from-[#f5f4bb] to-[#59a5bf] overflow-hidden
}

.cursor {
    @apply hover:cursor-pointer
}

.safe-background {
    background-image: conic-gradient(from 3.1416rad at 0% 80%, rgba(56,185,57,1), rgba(28,221,36,1));
}

.danger-background {
    background-image: conic-gradient(from 3.1416rad at 0% 80%, rgb(185, 56, 56), rgb(221, 41, 28));
}

.unconnected-background {
    background-image: conic-gradient(from 3.1416rad at 0% 80%, rgb(185, 163, 56), rgb(221, 221, 28));
}

.pulse-red {
   animation: pulse-animation-red 2s infinite;
}

.pulse-green {
   animation: pulse-animation-green 2s infinite;
}

.pulse-yellow {
   animation: pulse-animation-yellow 2s infinite;
}
  
@keyframes pulse-animation-red {
    0% {
        box-shadow: 0 0 0 0px rgba(255, 1, 1, 0.2);
    }
    100% {
        box-shadow: 0 0 0 20px rgba(255, 1, 1, 0);
    }
}

@keyframes pulse-animation-yellow {
    0% {
        box-shadow: 0 0 0 0px rgba(255, 255, 1, 0.2);
    }
    100% {
        box-shadow: 0 0 0 20px rgba(255, 1, 1, 0);
    }
}

@keyframes pulse-animation-green {
    0% {
        box-shadow: 0 0 0 0px rgba(28, 221, 36, 0.5);
    }
    100% {
        box-shadow: 0 0 0 20px rgba(28, 221, 36, 0);
    }
}